<%- include("navbar.ejs") %>

<link rel="stylesheet" href="style/Addmission.css" />
<link rel="stylesheet" href="style/index.css" />

<!-- {/* slide1 begins */} -->
<div class="Container-fluid Admission">
  <div class="row">
    <div class="col-md-12">
      <img src="uploads/AdmissionBg.jpg" alt="" />
      <div class="Admission1-heading">
        <h1>ADMISSIONS</h1>
      </div>
    </div>
  </div>
</div>

<!-- {/* slide2 begins */} -->
<div class="container-fluid Admission2">
  <div class="row">
    <div class="col-1 d-md-block d-none"></div>
    <div class="col-md-3 admission2-left">
      <h1>A SCHOOL OF CHOICE</h1>
    </div>
    <div class="col-2 d-md-block d-none"></div>
    <div class="col-md-6 admission2-right">
      <p>
        Our School Academy serves scholars in grades 7-12 at five campuses in
        Nagar City, Ahilyanagar and the River Valley - Pune, Chh. SambhajiNagar,
        Mumbai East, Mumbai South.
      </p>
      <p>
        <b>
          Demand for entrance into Our School Academy dramatically exceeds our
          enrollment cap. Because of this, we use a random, anonoymous lottery
          for admission.
        </b>
        Our School Academy does not discriminate on the basis of sex, national
        origin, race, ethnicity, religion, disability, academic or athletic
        eligibility.
      </p>
      <p>
        Our School Academy is recognized by Times of India and News18 and World
        Report as one of the finest high schools in the nation!
      </p>
      <button><a href="/application">Apply now</a></button>
      <!-- {/* <Link to='/AdmissionApplication'><button>Apply now</button></Link> */} -->
    </div>
  </div>
</div>

<%- include("footer.ejs") %>
