<%- include ("navbar.ejs") %>
<link rel="stylesheet" href="style/Employment.css" />
    <link rel="stylesheet" href="style/index.css" />


    <!-- slide1 begins -->
    <div class='container-fluid Employee'>
        <div class='row'>
            <div class='col-md-12 Employee-heading'>
                <h1>Employment</h1>
                <p>
                    <button>Home </button>
                    <span> &gt; </span>
                    <button> About </button>
                    <span> &gt; </span>
                    <button style="color:white"> Employement </button>
                </p>
            </div>
        </div>
    </div>

     <!-- slide2 begins  -->
    <div class='container-fluid Employee2'>
        <div class='row'>
            <div class='col-md-7 employee2-desc'>
                <div class='employee2-desc1'>
                    <h1>JOIN OUR TEAM</h1>
                    <p>Be a part of something truly innovative and spectacular.</p>
                    <p>Be respected as a true professional</p>
                    <p>Be encouraged to be an educational entrepreneur.</p>
                    <p>Be appriciated while making an imapct on the future of leaders.</p>
                    <p>Be a part of a nationally acclaimed, accelerated, college-preparatory academic community.</p>
                    <br />
                    <h4>BE OUR SCHOOL ACADEMY!</h4>
                    <button>APPLY NOW</button>
                </div>
            </div>
            <div class='col-md-5 employee2-right'>
                <div class="col-md-12">
                    <img src='uploads/EmployeeTeam.jpg' alt="" />
                </div>

                <div class="col-md-12 employee-right-desc">
                    <h1>APPLY TODAY!</h1>
                    <p>Our School Academy is seeking administrators, faculty and staff for our campuses in Ahilyanagar, Pune, Mumbai, Chh.Sambhajinagar, and Pimpri-chinchwad.
                    </p>
                    <p>Our School Academy provides an exceptional, highly competitive compensation package.</p>
                </div>
            </div>
        </div>
    </div>

     <!-- slide3 begins  -->
    <div class='Mission3 container-fluid'>
        <div class='row'>

            <div class='col-md-12 mission3-heading'>
                <h1>Mission Statement</h1>
                <p>To provide an aggressive alternative to the traditional learning environment for scholars with high intensity of purpose seeking an aggressive, rigorous, college preparatory curriculum focusing on the engineering, technology, mathematics, and science fields, enabling them to succeed at the nation's prestigious universitiesj and to become pillars of their communities.</p>
            </div>

            <div class='row mission3-cards1'>
                <div class='col-md-4 card1'>
                    <h5>THE COMMUNITY</h5>
                    <p>Our School Academy serves the educational needs of SSC Education and River Valley scholars from a six country area, representing a wide raange of socio- economic and ethnic backgrounds. The local corporate offices of over 1,200 Walmart vendors bring highly educated employees of companies.</p>
                </div>
                <div class='col-md-4 card2'>
                    <h5>THE SCHOOL</h5>
                    <p>Our School Academy is a small, comprehensive institution promoting an accelerated college preparatory curriculum and enrolling scholars in grades 7 through 12. It is the state's only open enrollment charter high school focusing on rigor and high academic standards.</p>
                </div>
                <div class='col-md-4 card3'>
                    <h5>THE CURRICULUM</h5>
                    <p>As a microcosm of a university, Our School Academy's academic schedule is based on a semester block system mirroring the higher educational experience.</p>
                </div>
            </div>

            <div class='row mission3-cards2'>
                <div class='col-md-4 card4'>
                    <h5>THE POSITIONS</h5>
                    <p>Our School Academy is seeking inovative, self- motivated faculty who desire to assist our institutions in becoming the number one high school in the nation. We are seeking leaders who aren't intimidated by going agains the status quo but rather embrace that change is good, and that change empowers all.</p>
                </div>
                <div class='col-md-4 card5'>
                    <h5>THE REQUIREMENTS</h5>
                    <p>Would you like to become part of a multiple national award winning model of how a charter school can strengthen communities, inspire innovation and be a catalyst for the renewal of expectations for public education? Being part off Our School Academy is a calling - not just a career.</p>
                </div>
                <div class='col-md-4 card6'>
                    <h5>DIVERSITY STATEMENT</h5>
                    <p>Diversity is that aspect of our community that represents the different thought processes, backgrounds, characteristics, and skill sets that each individual brings to the pursuit of our common mission.</p>
                </div>
            </div>
        </div>
    </div>

<%- include ("footer.ejs") %>