* {
  margin: 0px;
  padding: 0px;
}

.body {
  margin: 0px;
  padding: 0px;
  background-color: white;
}

a {
  text-decoration: none !important;
}

li {
  list-style-type: none;
  margin-bottom: 7px;
}